/* ==========================================================================
	FOOTER
	========================================================================== */

.footer {
	text-align: center;
  padding: 2em 0;
  background: #1D3461;
  color: #EDF2F4;
}
